{% extends "blog/base.html" %}
{% block content %}
<div>
  <h1>About Page</h1>
  <img class="rounded-circle article-img" src="../../../media/profile_pics/chess_king.png" alt="chess_king">
</div>
<div class="card border-primary mb-3" style="max-width: 25rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <p class="card-text">This multi-blog was created as a means to practice deploying a web application. I'm a passionate chess player and I hope that the articles are relevant. Feel free to send any feedback you might have below.</p>
  </div>
</div>



{% endblock content %}

